body {
    background: white;
    text-align: center;
    font-size: 14px;
    margin: 16px;
    padding: -1px;
    box-sizing: border-box;
    height: auto;
}

main{
    background-color: white;
    text-align: center;
    width: 100%;
}
header{
    background-color: yellow;
    text-align: center;
    width: 100%;

}
.cuerpo{
    color: white;
    gap: 24px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.cuadro1{
    background-color:green;
    padding: 14px;
}
.cuadro2{
    background-color: blue;
    padding: -3px;
}
.cuadro3{
    background-color: blue;
    padding: 27px;
}
.cuadro4{
    background-color: blue;
    grid-column: 3;
    padding: 2px;
}

@media (min-width: 600px) {
    div.cuerpo select{
        display: none;
    }
}

@media (max-width: 600px) {
	.cuerpo{
        display: block;
    }
    .cuadro1{
        margin-top:10px;
    }
    .cuadro2{
        margin-top:10px;
    }
    .cuadro3{
        margin-top:10px;
    }
    .cuadro4{
        margin-top:10px;
    }
    div.cuerpo a{
        display: none;
    }
}

footer{
    background-color: pink;
    width: 100%;
}
