body {
    background: #606060;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

.container {
    width: 100%;
    padding: 0px;
    text-align: center;
    border: 1px solid black;
    margin: -53px auto;
}

header {
    background: white;
    height: 170px;
    width: 100%;
}

#logo1 {
    width: 10px;
}

#logo {
    width: 59px;
    left: 122px;
    top: 22px;
    position: absolute;
}


.button1 {
    border-radius: 10%;
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 24px;
    font-size: 10px;
    width: 112px;
    right: 119px;
    top: 22px;
    position: absolute;
}

.button2 {
    background-color: white;
    color: gray;
    border: none;
    padding: 10px 9px;
    font-size: 11px;
    width: 59px;
    right: 261px;
    top: 22px;
    position: absolute;
}

.button3 {
    background-color: white;
    color: gray;
    border: none;
    padding: 10px 0px;
    font-size: 11px;
    width: 69px;
    right: 337px;
    top: 22px;
    position: absolute;
}

.button4 {
    background-color: white;
    color: gray;
    border: none;
    padding: 10px 24px;
    font-size: 11px;
    width: 59px;
    right: 430px;
    top: 22px;
    position: absolute;
}

.button5{
    background-color: rgb(78, 78, 78);
    color: white;
    height: 40px;
    width: 150px;
    margin-right: 687px;
}

.articulo{
    text-align: center;
    background: white;
    width: 100%;
    height: 457px;
    padding-top: 66px;
    padding-bottom: 31px;
    overflow: hidden;
    border-top: 1px solid black;
}

.img{
    float: left;
    width: 36%;
    height: 452px;
}

.imagen1{
    height: 100%;
    width: 100%;
}

.titulo{
    padding-top: 10px;
    padding-right: 725px;
}

.persona{
    padding-right: 635px;
}

.line{
    padding-top: 3px;
    padding-right: 136px;
    color: rgb(184, 255, 184);
}

.descp{
    padding-right: 746px;
}

.info{
    padding-right: 589px;
}

.titulo1 {
    padding-right: 788px;
}

.pide{
    padding-right: 486px;
}

.line1{
    padding-top: 10px;
    padding-right: 410px;
    color: rgb(184, 255, 184);
}

.footer {
    background: white;
    width: 100%;
    color: white;
    height: -2px;
    margin: auto;
    padding: 0%;
    text-align: center;
    border: 1px solid black;
}    

.footer a {
    color: black;
    padding: 0 4px;
    text-decoration: none;
}

.footer a:hover {
    background-color: white;
    color: #D7C8B6;
}

.footer li {
    border: #ffffff 2px solid;
    display: inline;
    margin-right: 19px;
}

.footer ul {
    list-style-type: none;
    text-align: center
}

.footer h3{
    color: grey;
}